header img {
    /*display: block;*/
    width: 100%;

}
.header {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.brand{
    text-align: center;
    padding-top: 30px;

}

h2{
    padding:20px 0;
}